*{
    box-sizing: border-box;
}

body{
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;


}

/* ------------- header  ------------- */

header{
    background: url('../img/fondo.jpg') #49a3d6;

    background-position: center;
    max-height: 600px;

}

header .menu{
    margin: 40px 0;
    text-align: right;
}

header .menu a{
    margin: 0 20px;
    color: white;
    padding-bottom: 9px;
    font-size: 1em; /* 16px*/
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent; /*Ocupamos transparent para eivtar un desplazamiento en la pag*/
}

header .menu a:hover{
    border-bottom: 2px solid white;
    transition-duration: .5s;
}

header .text-container{
    display: flex;
    margin: 190px 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

header .text-container .text{
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;;
}

header .text-container .text h1,h2{
    color: white;
    font-weight: 300;
    margin: 0;
}

header .text-container .text .name{
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 20px;
}

header .text-container .text .profession{
    font-size: 25px;
    line-height: 25px;
}

/* ------------- main  ------------- */

.main .container{
    overflow: visible;
}

.main .about{
    text-align: center;
}

.main .about .photo{
    margin-top:-60px;
}

.main .about .photo .profile-photo{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .2);
}

.main .about .text{
    color: #5A5A5A;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;

}

.main .about .text .title{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    color: purple;
    text-align: center;
    font-weight: 300;
}

.main .about .text .bold{
    color: rgb(132, 0, 255);
}


/* ------------- trabajos  ------------- */

.works{
    background: #f2f2f2;
    padding: 60px 0;
}



.works .container .title{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    color: purple;
    text-align: center;
    font-weight: 300;
}

.works .container .works-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.works .container .works-container .work{
    width: 23%;
    margin-bottom: 40px;

}

.works .container .works-container .work .thumb{
    width: 100%;
    margin-bottom: 10px;
}

.works .container .works-container .work .thumb img{
    width: 100%;
    vertical-align: top;
    border-radius: 3px;
    opacity: .5;
    padding: 3px;
    border: 1px solid rgb(59, 59, 59);
    background: white;
}

.works .container .works-container .work .description{
    text-align:center;
}

.works .container .works-container .work .name-work{
    font-weight: 700;
    color: #810065;
}

.works .container .works-container .work .categories{
    color: rgb(102, 102, 102);
}

.works .container .works-container .work .thumb img:hover{
    opacity: 1;
    border: 1px solid black;
    transition-duration: .3s;
}



/* ------------- footer  ------------- */
footer .contact{
    padding: 60px 0;
}

footer .contact .title{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    color: purple;
    text-align: center;
    font-weight: 300;
}

footer .contact .formu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer .contact .formu input[type="text"],input[type="email"],textarea{
    border: 2px solid rgb(209, 151, 248);
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color: #a4a4a4;
}

footer .contact .formu input[type="text"],input[type="email"]{
    width: 48%;
    margin-bottom: 20px;
}

footer .contact .formu textarea{
    width: 100%;
    height: 100px;
    max-height: 200px;
    min-width: 100%;
    min-height: 100px;
    margin-bottom: 25px;
}

footer .contact .formu .btn{
    width: 120px;
    height: 50px;
    margin: auto;
    background: rgb(176, 3, 182);
    color: #dfdfdf;
    border: none;
    border-radius: 3px;
    padding: 15px 40px;
    cursor: pointer;
}


footer .contact .formu .btn:hover{
    background: rgb(73, 73, 73);
    transition-duration: .6s;

}


footer .rrss{
    background: rgb(52, 46, 54);
    padding: 60px 0;
}

footer .rrss .container{
    display: flex;
    justify-content: center;
}

footer .rrss a {
    color: white;
    width: 100px;
    display: block;
    text-align: center;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 30px;
    margin: 0 20px;
}


footer .rrss .fb:hover{
    background: #3b5998;
    transition-duration: .2s;
}

footer .rrss .ig:hover{
    background: #3f729b;
    transition-duration: .2s;
}
footer .rrss .tw:hover{
    background: #1da1f2;
    transition-duration: .2s;
}


/* ------- MEDIA QUERIES --------- */

@media screen and (max-width: 800px){

    .works .container .works-container .work{
        width: 46%;
    }
}

@media screen and (max-width: 500px){
    header .container .text .name{
        font-size: 35px;
    }
    header .container .text .profession{
        font-size: 18px;
    }
}

@media screen and (max-width: 400px){

    header{
        height: 400px;
    }

    header .text-container .text{
        padding: 10px 30px;;
    }

    header .text-container{
        display: flex;
        margin: 10px 0;
    }

    header .text-container .text .name{
        font-size: 25px;
        line-height: 10px;
        padding: 10px 0;
    }

    header .text-container .text .profession{
        font-size: 15px;
        padding: 10px 0;
    }


    .works .container .works-container .work{
        width: 100%;
    }
    footer .contact .formu input[type="text"],input[type="email"]{
        width: 100%;
        margin-bottom: 20px;
    }
}